<div class="row gx-5">
    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="@Url.Content(String.Format(ViewBag.newsımage1))" alt="Image" width="330" height="190" />
            <div class="card-body p-4">
                <div class="badge bg-dark bg-gradient rounded-pill mb-2">
                    @ViewBag.newscategory1
                </div>
                <a class="text-decoration-none link-dark stretched-link" href="#">
                    <h5 class="card-title mb-3">@ViewBag.newstitle1</h5>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="@Url.Content(String.Format(ViewBag.newsımage2))" alt="Image" width="330" height="190" />
            <div class="card-body p-4">
                <div class="badge bg-dark bg-gradient rounded-pill mb-2">
                    @ViewBag.newscategory2
                </div>
                <a class="text-decoration-none link-dark stretched-link" href="#">
                    <h5 class="card-title mb-3">@ViewBag.newstitle2</h5>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="@Url.Content(String.Format(ViewBag.newsımage3))" alt="Image" width="330" height="190" />
            <div class="card-body p-4">
                <div class="badge bg-dark bg-gradient rounded-pill mb-2">
                    @ViewBag.newscategory3
                </div>
                <a class="text-decoration-none link-dark stretched-link" href="#">
                    <h5 class="card-title mb-3">@ViewBag.newstitle3</h5>
                </a>
            </div>
        </div>
    </div>
</div>
