
@{
    ViewBag.Title = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>

                @Html.Action("NewsCover", "Home")
                @Html.Action("NewsReadAll", "Home")
                <section class="mb-5">
                    @Html.Action("CommentList", "Comment")
                    @Html.Action("LeaveComment", "Comment")
                </section>
            </article>
        </div>
        <div class="col-lg-4">

            <div class="card mb-4">
                @Html.Action("AuthorAbout", "Author")
            </div>
            <div class="card mb-4">
                @Html.Action("AuthorPopularPost", "Author")

            </div>
        </div>
    </div>
</div>