@using PagedList
@using PagedList.Mvc
@model IEnumerable<EntityLayer.Concrete.News>
@{
    ViewBag.Title = "AdminNewsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string color = "";}
@{ string state = "";}
@{ int? score = 1;}

<section class="content-header">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Haberler</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 30%">Başlık</th>
                            <th style="width: 10%">Yazar</th>
                            <th style="width: 20%">Haber İçerik Değerlendirme Oranı</th>
                            <th style="width: 8%" class="text-center"> Durum</th>
                            <th style="width: 8%" class="text-center"> Kategori</th>
                            <th style="width: 25%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            score = item.NewsRating * 10;
                            if (score >= 85)
                            {
                                color = "post-category text-white bg-success mb-3";
                                state = "Çok İyi";
                            }
                            if (score >= 70 && score <= 84)
                            {
                                color = "post-category text-white bg-info mb-3";
                                state = "Başarılı";
                            }
                            if (score >= 50 && score <= 69)
                            {
                                color = "post-category text-white bg-warning mb-3";
                                state = "Fena Değil";
                            }
                            if (score >= 0 && score <= 49)
                            {
                                color = "post-category text-white bg-danger mb-3";
                                state = "Vasat";
                            }

                            <tr>
                                <td>@item.id</td>
                                <td>@item.NewsName</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="@Url.Content(String.Format(item.Author.User.Image))">
                                        </li>
                                    </ul>
                                </td>
                                <td class="project_progress">
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width: @score%">
                                        </div>
                                    </div>
                                    <small>
                                        Aldığı Puan: @score
                                    </small>
                                </td>
                                <td class="project-state">
                                    <span class="badge badge-@color ">@state</span>
                                </td>
                                <td class="project-state">
                                    <span class="badge badge-success ">@item.Category.CategoryName</span>
                                </td>

                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="~/Home/NewsDetails/@item.id"><i class="fas fa-eye"></i> Sitede Gör</a>
                                    <a class="btn btn-warning btn-sm" href="~/Admin/GetCommentByNews/@item.id"><i class="fas fa-comment-alt"></i> Yorumlar</a>
                                    <a class="btn btn-dark btn-sm" href="~/Admin/UpdateNews/@item.id"><i class="fas fa-edit"></i> Düzenle</a>
                                    <a class="btn btn-danger btn-sm" href="~/Admin/DeleteNews/@item.id"><i class="fas fa-trash"></i> Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="footer pt-1">
                <div class="row">
                    <div class="d-flex col-lg-6 col-md-6 col-sm-12 col-xs-12 pl-5">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("AdminNewsList", new { page }), PagedListRenderOptions.PageNumbersOnly)
                    </div>
                    <div class="d-flex justify-content-end  col-lg-6 col-md-6 col-sm-12 col-xs-12 p-lg-4">
                        <div class="dataTables_info">
                            <a class="btn btn-outline-dark" href="~/Admin/AddNewNews/"><i class="fas fa-plus"></i> Yeni Haber Ekle</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


